{#
/**
 * @file
 * Default theme implementation for a facets item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The ID of the widget plugin this facet uses.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @see facets_preprocess_facets_item_list()
 *
 * @ingroup themeable
 */
#}

{% set modal = {
  id: facet.id
} %}

{{ attach_library('gent_base/checkbox_filter') }}
{{ attach_library('gent_base/facets') }}

<form>
  <fieldset class="facets-widget- {{- facet.widget.type -}} -with-filter checkbox-filter form-item">
    {% if items or empty %}
      {%- if title is not empty -%}
        <legend>{{ title }}</legend>
      {%- endif -%}

      {%- if items -%}
        <div class="form-item">
          <div class="form-columns">
            <div class="form-item-column">

              <section id="{{ modal.id }}" class="modal modal--fixed-height checkbox-filter__modal" tabindex="-1">
                <div class="modal-inner">
                  <div class="modal-header">
                    <button type="button" class="button close icon-cross modal-close" data-target="{{ modal.id }}">
                      {{ 'Close'|t }}
                    </button>
                  </div>

                  <div class="modal-content" tabindex="0">
                    {%- if title is not empty -%}
                      <h3>{{ title }}</h3>
                    {%- endif -%}

                    <div class="checkbox-filter__selected"></div>

                    <div class="form-item">
                      <label for="checkboxes__filter_id_{{ facet.id }}">{{ 'Filter the list below'|t }}</label>
                      <div class="form-item checkbox-filter__filter__search-wrapper">
                        <input type="search" id="checkboxes__filter_id_{{ facet.id }}" class="checkbox-filter__filter">

                        <p aria-live="polite" aria-atomic="true" class="checkbox-filter__result-wrapper">
                          {{ '%count filter(s) found'|t({'%count': '#'}) }}
                        </p>
                      </div>
                    </div>

                    <div{{ attributes.addClass('links checkbox-filter__checkboxes') }}>
                      {%- for item in items -%}
                      {# Multi-level filters #}

                      {% if (item.value.children) %}
                    </div>

                    <div {{ attributes.addClass('links checkbox-filter__checkboxes') }}>
                      <h4 class="checkbox-filter__category">{{ item.value['#title']['#original'] }}</h4>
                      <div {{ item.attributes.addClass('checkbox full-width') }}>
                        {{ item.value|without('children') }}
                      </div>

                      {% for child in item.value.children['#items'] %}
                        {% if child['#title']['#count'] > 0 %}
                          <div class="facet-item checkbox">{{ child }}</div>
                        {% endif %}
                      {% endfor %}

                      {# Single-level filters #}
                      {% elseif item.value['#title']['#count'] > 0 %}
                        <div{{ item.attributes.addClass('checkbox') }}>{{ item.value }}</div>
                      {% endif %}
                      {%- endfor -%}
                    </div>
                  </div>

                  <div class="modal-actions">
                    <button type="button" class="button button-primary checkbox-filter__submit modal-close"
                            data-target="{{ modal.id }}">{{ 'Show results'|t }}</button>
                  </div>
                </div>

                <div class="modal-overlay modal-close checkbox-filter__close" data-target="{{ modal.id }}"></div>
              </section>

              <p class="checkbox-filter__count-wrapper hidden">
                <strong>
                  {{ '%count item(s) selected'|t({'%count': 0}) }}
                </strong>
              </p>

              <button type="button" class="button button-secondary button-small checkbox-filter__open" aria-controls="{{ modal.id }}" aria-expanded="false">
                {% trans %}Select ...{% endtrans %}
              </button>
            </div>
            <div class="form-item-column"></div>
          </div>
        </div>
      {%- else -%}
        {{- empty -}}
      {%- endif -%}
    {%- endif %}
  </fieldset>
</form>
