{#
/**
 * @file
 * Theme implementation for an list of numbered steps based on item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 *     Use the properties #active and #completed in the value array
 *     to set states on the item.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 *
 * @ingroup themeable
 */
#}

{% if context.list_style %}
  {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
{% endif %}
{% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
    <div class="form-progress">
    <{{ list_type }} {{ attributes.addClass('no-style') }}>
    {%- for count, item in items -%}
      <li{{ item.attributes }}>
        {% if item.url %}
        <a href="{{ item.url }}" class="indicator">
          {% endif %}

          {% if item.icon %}
            <span class="count">{{ item.icon }}</span>
          {% else %}
            <span class="count">{{ count }}</span>
          {% endif %}

          <span class="label">{{ item.value }}</span>

          {% if item.url %}
        </a>
        {% endif %}
      </li>
    {%- endfor -%}
    </{{ list_type }}>
    </div>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
