{% extends "paragraph.html.twig" %}

{% block paragraph %}

  {% if content.field_primary_action_type|render|striptags|trim|lower == 'link' %}
    {% set primary_type = 'link' %}
  {% endif %}

  {% if content.field_primary_action_type|render|striptags|trim|lower == 'document' %}
    {% set primary_type = 'document' %}
  {% endif %}

  {% if content.field_secondary_action_type|render|striptags|trim|lower == 'link' %}
    {% set secondary_type = 'link' %}
  {% endif %}

  {% if content.field_secondary_action_type|render|striptags|trim|lower == 'document' %}
    {% set secondary_type = 'document' %}
  {% endif %}

  <div class="cta-block link">
    <div class="inner-box">
      <h2>{{ content.title }}</h2>

      <p>{{ content.field_description }}</p>

      <ul class="links">
        <li>
          {% if primary_type == 'link' %}
            <a href="{{ content.field_primary_action_link|render|striptags|trim }}" class="button button-primary" title="{{ content.field_primary_action_title|render|striptags|trim }}">{{ content.field_primary_action_title|render|striptags|trim }}</a>
          {% endif %}
          {% if primary_type == 'document' %}
            {% if content.field_primary_action_document|render|striptags|trim is not empty %}
              {{ content.field_primary_action_document }}
            {% endif %}
          {% endif %}
        </li>
        <li>
          {% if secondary_type == 'link' %}
            <a href="{{ content.field_secondary_action_link|render|striptags|trim }}" class="standalone-link" title="{{ content.field_secondary_action_title|render|striptags|trim }}">{{ content.field_secondary_action_title|render|striptags|trim }}</a>
          {% endif %}
          {% if secondary_type == 'document' %}
            {% if content.field_secondary_action_document|render|striptags|trim is not empty %}
              {{ content.field_secondary_action_document }}
            {% endif %}
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
{% endblock paragraph %}
