{#
/**
 * @file
 * CTA paragraph implementation..
 *
 * Available variables:
 * - primary_document_size: The size of the primary document uploaded.
 * - primary_document_file_uri: The link to the primary document uploaded.
 * - primary_document_type: The type of the primary document uploaded.
 *
 * The primary_document_size and primary_document_type variables are linked.
 * You can't have one without the other because they come from the same File
 * entity.
 *
 * - secondary_document_size: The size of the secondary document uploaded.
 * - secondary_document_file_uri: The link to the secondary document uploaded.
 * - secondary_document_type: The type of the secondary document uploaded.
 *
 * The secondary_document_size and secondary_document_type variables are linked.
 * You can't have one without the other because they come from the same File
 * entity.
 */
#}
{% extends "paragraph.html.twig" %}

{% block paragraph %}

  {% if content.field_primary_action_type|render|striptags|trim|lower == 'link' %}
    {% set primary_type = 'link' %}
  {% endif %}

  {% if content.field_primary_action_type|render|striptags|trim|lower == 'document' %}
    {% set primary_type = 'document' %}
  {% endif %}

  {% if content.field_secondary_action_type|render|striptags|trim|lower == 'link' %}
    {% set secondary_type = 'link' %}
  {% endif %}

  {% if content.field_secondary_action_type|render|striptags|trim|lower == 'document' %}
    {% set secondary_type = 'document' %}
  {% endif %}

  <div class="cta-block box-left {{ content.field_primary_action_type|render|striptags|trim|lower == 'document' ? 'download' : 'link' }}">
    <div class="inner-box">
      <h2>{{ content.title }}</h2>

      <p>{{ content.field_description }}</p>

      <ul class="links">
        <li>
          {% if primary_type == 'link' %}
            <a href="{{ content.field_primary_action_link|render|striptags|trim }}" class="button button-primary" title="{{ content.field_primary_action_title|render|striptags|trim }}">{{ content.field_primary_action_title|render|striptags|trim }}</a>
          {% endif %}
          {% if primary_type == 'document' %}
            {% if content.field_primary_action_document|render|striptags|trim is not empty %}
              <a href="{{ primary_document_file_uri }}" class="button" download>{{ content.field_primary_action_title|render|striptags|trim }}</a>
              {% if primary_document_size and primary_document_type %}
                <span class="file-size">{{ primary_document_type }} ({{ primary_document_size }})</span>
              {% endif %}
            {% endif %}
          {% endif %}
        </li>
        <li>
          {% if secondary_type == 'link' %}
            <a href="{{ content.field_secondary_action_link|render|striptags|trim }}" class="standalone-link" title="{{ content.field_secondary_action_title|render|striptags|trim }}">{{ content.field_secondary_action_title|render|striptags|trim }}</a>
          {% endif %}
          {% if secondary_type == 'document' %}
            {% if content.field_secondary_action_document|render|striptags|trim is not empty %}
              <a href="{{ secondary_document_file_uri }}" class="standalone-link" download>{{ content.field_secondary_action_title|render|striptags|trim }}</a>
              {% if secondary_document_size and secondary_document_type %}
                <span class="file-size">{{ secondary_document_type }} ({{ secondary_document_size }})</span>
              {% endif %}
            {% endif %}
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
{% endblock paragraph %}
