{#
/**
 * @file vesta.html.twig
 * Default theme implementation to present Vesta data.
 *
 * This template is used when viewing Vesta pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vesta()
 *
 * @ingroup themeable
 */
#}

<article{{ attributes.addClass('teaser-content') }}>
  <div class="content__bottom">
    <a href="{{ url }}" class="teaser-title-link standalone-link">{{ name }}</a>

    {% block address %}
      <p>
        {% if address|render %}
          {{ address.street }} {{ address.houseNumber }}{{ address.box ? '/' ~ address.box  }},
          {{ address.postalCode }} {{ address.city }}
        {% endif %}
      </p>
    {% endblock %}

    {% block contact %}
      {% if contactnumbers.landlines|length > 0 or emailaddresses|length > 0 %}
        <ul class="teaser-links">
          {% block phone %}
            {% if contactnumbers.landlines|length > 0 %}
              {% set phone = contactnumbers.landlines|first.value %}
              <li><a href="tel:{{ phone|replace({' ':''}) }}" class="no-icon">{{ phone }}</a></li>
            {% endif %}
          {% endblock %}

          {% block email %}
            {% if emailaddresses|length > 0 %}
              {% set emailAddress = emailaddresses|first.value %}
              <li><a href="mailto:{{ emailAddress|replace({' ':''}) }}" class="no-icon">{{ emailAddress }}</a></li>
            {% endif %}
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}

    {% block opening_hours %}
      {{ content.field_opening_hours }}
    {% endblock %}
  </div>
</article>
<a href="{{ url }}" class="teaser-overlay-link" tabindex="-1" aria-hidden="true">{{ name }}</a>
