{#
/**
 * @file vesta.html.twig
 * Default theme implementation to present Vesta data.
 *
 * This template is used when viewing Vesta pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_vesta()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'detail-layout',
  'vesta'
]
%}

{{ attach_library('gent_base/opening_hours') }}

<article{{ attributes.addClass(classes) }}>
  <h1>{{ '@name - openinghours and addresses'|t({'@name': name}) }}</h1>

  <div class="contact-details highlight highlight--top contact-details-inverted">
    <div class="highlight__inner">
      <h2>{{ 'Contact details'|t }}</h2>

      <div class="contact-details-column">
        <ul class="icon-list">
          {# address #}
          {% if address|render %}
            {% spaceless %}
              <li>
                <i class="icon-marker" aria-hidden="true"></i>
                <span>
                  <strong>{{ name }}</strong>
                  &mdash;
                  {{ address.street }} {{ address.houseNumber }}{{ address.box ? '/' ~ address.box  }},
                  {{ address.postalCode }} {{ address.city }}
                </span>
              </li>
            {% endspaceless %}
          {% endif %}

          {# landlines #}
          {% set landlines = contactnumbers.landlines.getIterator() %}
          {% if landlines|length > 0 %}
            {% for landline in landlines %}
              <li>
                <i class="icon-normalphone" aria-hidden="true"></i>
                <span>
                  <a href="tel:{{ landline.value }}">{{ landline.value }}</a>
                  {% if landline.note is not empty %}
                    {{ landline.note }}
                  {% endif %}
                </span>
              </li>
            {% endfor %}
          {% endif %}

          {# cellulars #}
          {% set cellulars = contactnumbers.cellulars.getIterator() %}
          {% if cellulars|length > 0 %}
            {% for cellular in cellulars %}
              <li>
                <i class="icon-phone" aria-hidden="true"></i>
                <span>
                  <a href="tel:{{ cellular.value }}">{{ cellular.value }}</a>
                  {% if cellular.note is not empty %}
                    {{ cellular.note }}
                  {% endif %}
                </span>
              </li>
            {% endfor %}
          {% endif %}

          {# faxes #}
          {% set faxes = contactnumbers.faxes.getIterator() %}
          {% if faxes|length > 0 %}
            {% for fax in faxes %}
              <li>
                <i class="icon-fax" aria-hidden="true"></i>
                <span>
                  <a href="tel:{{ fax.value }}">{{ fax.value }}</a>
                  {{ '(Fax)'|t }}
                </span>
              </li>
            {% endfor %}
          {% endif %}

          {# emailAddresses #}
          {% set emailAddresses = emailaddresses.getIterator() %}
          {% if emailAddresses|length > 0 %}
            {% for email in emailAddresses %}
              <li>
                <i class="icon-envelope" aria-hidden="true"></i>
                <span>
                  {% if email.note is not empty %}
                    {{ email.note }}:&nbsp;
                  {% endif %}
                  <a href="mailto:{{ email.value }}">{{ email.value }}</a>
                </span>
              </li>
            {% endfor %}
          {% endif %}

          {# websites #}
          {% set websites = websites.getIterator() %}
          {% if websites|length > 0 %}
            {% for website in websites %}
              <li>
                <i class="icon-external-link" aria-hidden="true"></i>
                <span>
                  <a href="{{ website }}" class="no-icon" target="_blank">{{ website }}</a>
                </span>
              </li>
            {% endfor %}
          {% endif %}

        </ul>
      </div>
    </div>
  </div>

  {{ content.field_opening_hours }}

  {% if extrainfo %}
    <section>
      <h2>{{ 'Extra information'|t }}</h2>
      {{ extrainfo|raw }}
    </section>
  {% endif %}

  {% if accessibility %}
    <section>
      <h2>{{ 'Accessibility'|t }}</h2>
      {{ accessibility|raw }}
    </section>
  {% endif %}

  {% if content.field_coordinates|render is not empty %}
    <section>
      <h2>{{ 'Location'|t }}</h2>
      {{ content.field_coordinates }}
    </section>
  {% endif %}
</article>

{% if related|length > 0 %}
  <aside class="top">
    <div class="related-box">
      <div class="related-box-content">
        <h2>{{ 'Also interesting'|t }}</h2>

        <div class="related-box-content-column">
          <h3>{{ 'View all locations from'|t }}</h3>

          {% for keyword in related %}
            <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': keyword.tid.value }) }}" class="tag">{{ keyword.name.value }}</a>
          {% endfor %}

          {{ content.field_opendata_link }}
        </div>
      </div>
    </div>
  </aside>
{% endif %}
