{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the fieldset element.
 * - errors: (optional) Any errors for this fieldset element, may not be set.
 * - required: Boolean indicating whether the fieldeset element is required.
 * - legend: The legend element containing the following properties:
 *   - title: Title of the fieldset, intended for use as the text of the legend.
 *   - attributes: HTML attributes to apply to the legend.
 * - information: The information element containing the following properties:
 *   - content: The description content of the fieldset.
 * - description: The description element containing the following properties:
 *   - content: The description content of the fieldset.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the fieldset.
 * - prefix: The content to add before the fieldset children.
 * - suffix: The content to add after the fieldset children.
 *
 * Extra variables:
 * - fieldset_optional: Should the fieldset be marked as optional.
 * - has_row: Should the fieldset be rendered as a row.
 * - has_columns: Has the fieldset columns.
 *
 * @see template_preprocess_fieldset()
 */
#}
{% set classes = [
  has_columns ? 'js-form-item',
  has_columns ? 'form-item',
  'js-form-wrapper',
  'form-wrapper'
] %}

{% set legend_span_classes = [
  required ? 'js-form-required',
  required ? 'form-required'
] %}

<fieldset{{ attributes.addClass(classes).removeClass('fieldgroup') }}>

  <legend{{ information.attributes.addClass(legend_span_classes) }}>
    {{ legend.title }}

    {% if fieldset_optional %}
      <span{{ legend_span.attributes.addClass('label-optional') }}>({{ 'Optional'|t }})</span>
    {% endif %}
  </legend>

  {% if has_row %}
  <div class="form-row">
    {% endif %}

    {% if information and not has_columns %}
      <div class="form-item">
        <div class="field-message">
          {{ information.content }}
          <div class="accolade"></div>
        </div>
      </div>
    {% endif %}

    {% if errors and not has_columns %}
      <div class="field-message error" role="alert">
        {{ errors }}
        <div class="accolade"></div>
      </div>
    {% endif %}

    {% if has_columns %}
    <div class="form-item">
      {% if information %}
        <div{{ information.attributes.addClass(information_classes, 'field-message') }}>
          {{ information.content }}
          <div class="accolade"></div>
        </div>
      {% endif %}
      {% if prefix %}
        <span class="field-prefix">{{ prefix }}</span>
      {% endif %}
      <div class="form-columns">
        <div class="form-item-column">
          {% endif %}

          {{ children }}

          {% if has_columns %}
        </div>
        {% endif %}

        {% if has_columns %}
        <div class="form-item-column">
          {% if errors %}
            <div class="field-message error" role="alert">
              {{ errors }}
              <div class="accolade"></div>
            </div>
          {% endif %}
        </div>
      </div>
      {% if suffix %}
        <span class="field-suffix">{{ suffix }}</span>
      {% endif %}
    </div>
    {% endif %}
    {% if has_row %}
  </div>
  {% endif %}
</fieldset>
