{#
/**
 * @file
 * Default theme implementation for a form element.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - errors: (optional) Any errors for this form element, may not be set.
 * - prefix: (optional) The form element prefix, may not be set.
 * - suffix: (optional) The form element suffix, may not be set.
 * - required: The required marker, or empty if the associated form element is
 *   not required.
 * - type: The type of the element.
 * - name: The name of the element.
 * - label: A rendered label element.
 * - label_display: Label display setting. It can have these values:
 *   - before: The label is output before the element. This is the default.
 *     The label includes the #title and the required marker, if #required.
 *   - after: The label is output after the element. For example, this is used
 *     for radio and checkbox #type elements. If the #title is empty but the
 *     field is #required, the label will contain only the required marker.
 *   - invisible: Labels are critical for screen readers to enable them to
 *     properly navigate through forms but can be visually distracting. This
 *     property hides the label for everyone except screen readers.
 *   - attribute: Set the title attribute on the element to create a tooltip but
 *     output no label element. This is supported only for checkboxes and radios
 *     in \Drupal\Core\Render\Element\CompositeFormElementTrait::preRenderCompositeFormElement().
 *     It is used where a visual label is not needed, such as a table of
 *     checkboxes where the row and column provide the context. The tooltip will
 *     include the title and required marker.
 * - description: (optional) A list of description properties containing:
 *    - content: A description of the form element, may not be set.
 *    - attributes: (optional) A list of HTML attributes to apply to the
 *      description content wrapper. Will only be set when description is set.
 * - information: The information element containing the following properties:
 *   - content: The description content of the fieldset.
 * - description_display: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element. This is the default
 *     value.
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - disabled: True if the element is disabled.
 * - title_display: Title display setting.
 * - in_fieldset: Whether or not the element is contained in a fieldset that handles validation errors.
 * - parent_type: Type of the parent element.
 * - stacked: Boolean that indicates the stacked state of the element.
 * - has_row: Whether or not the element is containes in a form-row.
 *
 * @see template_preprocess_form_element()
 *
 * @ingroup themeable
 */
#}

{% set option_elements = [
  'checkboxes',
  'radios'
] %}

{% set classes = [
  parent_type not in option_elements ? 'js-form-item',
  parent_type not in option_elements ? 'form-item',
  'js-form-type-' ~ type|clean_class,
  parent_type not in option_elements ? 'form-item-' ~ name|clean_class,
  parent_type not in option_elements ? 'js-form-item-' ~ name|clean_class,
  type|clean_class,
  title_display not in ['after', 'before'] ? 'form-no-label',
  disabled == 'disabled' ? 'form-disabled',
  errors ? 'form-item--error',
  stacked ? 'stacked'
] %}
{% set description_classes = [
  'form-description',
  'field-message',
  description_display == 'invisible' ? 'visually-hidden',
] %}
{% set information_classes = ['field-message'] %}
<div{{ attributes.addClass(classes) }}>

  {% if label_display in ['before', 'invisible'] %}
    <div class="form-label">
      {{ label }}
    </div>
  {% endif %}

  {% if information and label_display != 'after' %}
    <div{{ information.attributes.addClass(information_classes) }}>
      {{ information.content }}
      <div class="accolade"></div>
    </div>
  {% endif %}

  {% if not in_fieldset %}
  <div class="form-item">
    <div class="form-columns">
      <div class="{{ has_row ? 'form-row' : 'form-item-column' }}">
        {% endif %}
        {% if not has_row %}
        <div class="{{ element['#type'] }}">
          {% endif %}

          {% if prefix is not empty %}
            <span class="field-prefix">{{ prefix }}</span>
          {% endif %}

          {% if description.content and type != 'managed_file' and type != 'checkbox' and  type != 'radio' %}
            <div{{ description.attributes.addClass(description_classes) }}>
              {{ description.content }}
              <div class="accolade"></div>
            </div>
          {% endif %}

          {{ children }}
          {% if suffix is not empty %}
            <span class="field-suffix">{{ suffix }}</span>
          {% endif %}
          {% if label_display == 'after' %}
            {{ label }}
          {% endif %}

          {% if description.content %}
            {% if type == 'managed_file' or type == 'checkbox' or type == 'radio' %}
              <div class="form-description">
                {{ description.content }}
              </div>
            {% endif %}
          {% endif %}

          {% if information and label_display == 'after' %}
            <div{{ information.attributes.addClass(information_classes) }}>
              {{ information.content }}
              <div class="accolade"></div>
            </div>
          {% endif %}

          {% if not has_row %}
        </div>
        {% endif %}

        {% if not in_fieldset %}
      </div>
    </div>
    {% endif %}
    <div class="form-item-column">
      {% if errors %}
        <div class="field-message error" role="alert">
          {{ errors }}
          <div class="accolade"></div>
        </div>
      {% endif %}
    </div>

    {% if not in_fieldset %}
  </div>
  {% endif %}
</div>
