{%
  set classes = [
    'mijn-gent-block',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if login_link %}
    <div class="user-anonymous clearfix">
      <div class="label">
        {{ login_link }}
      </div>
    </div>
  {% endif %}
  <div class="user-logged-in clearfix">
    <div class="label">
      {% if profile_url %}
        <a href="{{ profile_url }}" class="user-has-profile">{{ username }}</a>
        <span class="user-no-profile">{{ username }}</span>
      {% else %}
        {{ username }}
      {% endif %}
    </div>

    <div class="picture">
      <img src="{{ default_picture_url }}" alt="{{ username }}" />
    </div>

    {{ menu }}
  </div>
</div>
