{#
/**
 * @file
 * Template override to display DG auth block.
 *
 * @deprecated Can be removed when OIDC authentication is implemented on all
 * Drupal 8 websites using Gent Base theme.
 */
#}

{{ attach_library('gent_base/accordion') }}

{% set classes = [
  'authentication',
  'accordion'
] %}

<div{{ attributes.addClass(classes) }}>
  {% if login_link %}
    <div class="user-anonymous clearfix">
      <div class="label">
        {{ login_link }}
      </div>
    </div>
  {% endif %}

  <div class="user-logged-in">
    <button aria-expanded="false" aria-controls="mijn_gent_content"
            class="toggle accordion--button">
      <span class="avatar" aria-hidden="true">{{ username }}</span>
      <span>{{ username }}</span>
    </button>

    <div id="mijn_gent_content" class="accordion--content" aria-hidden="true"
         hidden="hidden">
      <div class="content">
        <h2>{{ 'Mijn Gent'|t }}</h2>
        <section class="profile">
          <span class="avatar" aria-hidden="true">{{ username }}</span>
          <div class="profile-info">
            <span>{{ username }}</span>

            {% if profile_url %}
              <a href="{{ profile_url }}"
                 class="button button-primary button-small user-has-profile">{{ 'Show profile'|t }}</a>
            {% endif %}
          </div>
        </section>
        {{ menu }}
      </div>
    </div>
  </div>

</div>
