{% extends 'node--detail--layout.html.twig' %}

{% block article_content_top %}
  <p class="summary-text">{{ person_job_title }} - {{ person_category }}</p>
{% endblock %}

{% block article_content_summary %}
  <aside class="contact-details box-top">
    <div class="inner-box">
      <h2>{{ 'Contact details'|t }}</h2>
      <div class="contact-details-column">
        <ul class="icon-list">
          <li>
            <i class="icon-marker" aria-hidden="true"></i>
            <span>{{ person_address }}</span>
          </li>
          <li>
            <i class="icon-normalphone" aria-hidden="true"></i>
            <span>{{ person_phone}}</span>
          </li>
          <li>
            <i class="icon-phone" aria-hidden="true"></i>
            <span>{{ person_cellphone}}</span>
          </li>
          <li>
            <i class="icon-fax" aria-hidden="true"></i>
            <span>{{ person_fax }}</span>
          </li>
          <li>
            <i class="icon-envelope" aria-hidden="true"></i>
            <span>{{ person_email }}</span>
          </li>
        </ul>
      </div>
      <div class="contact-details-column">
        {{ person_image }}
      </div>
    </div>
  </aside>
{% endblock %}

{% block article_content_bottom %}
  {{ content.body }}
{% endblock %}

{% block article_aside_bottom %}
  {{ parent() }}

  <p class="changed-date">{{ 'Last changed'|t }}: {{ dateChanged|dg_format_date('text') }}</p>
{% endblock %}
