{% extends 'node--teaser.html.twig' %}

{% block content %}
  <div class="date">
    <span>{{ content.field_event_date }}</span>
  </div>

  {{ content|without('field_teaser_image', 'og_audience', 'field_summary', 'field_event_date') }}
{% endblock %}

{% block image %}
  <div class="tags-label-wrapper">
    <span class="label">
      <i class="icon-calendar"></i>
      <span>{{ 'Event'|t }}</span>
    </span>
    {# Rendered as tag list. #}
    {{ content.og_audience }}
  </div>

  {% set image_ratio = '1:1' %}
  {# twigcs use-var image_ratio #}
  {{ parent() }}
{% endblock %}
