{% extends 'node--detail--layout.html.twig' %}

{% block article_time %}
  {% if node.published_at is not empty %}
    <time pubdate datetime="{{ date|date('Y-m-d') }}">{{- node.published_at.value|dg_format_date('text') -}}</time>
  {% endif %}
{% endblock %}

{% block article_content_summary %}
  <aside class="summary-box">
    <ul class="icon-list">
      <li>
        <i class="icon-calendar" aria-hidden="true"></i>
        <span>
          {% if content.field_event_date_textual|render|striptags|trim is not empty or content.field_event_date|render|striptags|trim is not empty %}
            <time
              datetime="{{ event_datetime }}">{{ content.field_event_date }}</time>
            {{ content.field_event_date_textual }}
          {% else %}
            <time
              datetime="{{ event_datetime }}">{{ content.field_event_date }}</time>
          {% endif %}
        </span>
      </li>
      {% if content.field_event_location|render|striptags|trim is not empty %}
      <li>
        <i class="icon-marker" aria-hidden="true"></i>
        <span>
          {{ content.field_event_location }}
        </span>
      </li>
      {% endif %}
    </ul>


    {{ content.field_event_subscription_link }}
  </aside>
{% endblock %}

{% block article_aside_bottom %}
  {{ parent() }}

  <p class="changed-date">{{ 'Last changed'|t }}
    : {{ dateChanged|dg_format_date('text') }}</p>
{% endblock %}
