<h2 id="{{ label|render|striptags|trim }}">{{ label }}</h2>

{% if content.field_park_offer|render|striptags|trim is not empty %}
  <h3>{{ 'Park offer'|t }}</h3>
  <p>{{ content.field_park_offer }}</p>
{% endif %}

{% if content.field_playground_offer|render|striptags|trim is not empty %}
  <h3>{{ 'Park offer'|t }}</h3>
  <p>{{ content.field_playground_offer }}</p>
{% endif %}

{% if content.field_coordinates|render is not empty %}
  <h3>{{ 'Location'|t }}</h3>
  {{ content.field_coordinates }}
{% endif %}

{% if content.body|render|striptags|trim is not empty %}
  {{ content.body }}
{% endif %}

{% if content.field_images|render|striptags|trim is not empty %}
  <div class="paragraph--type--image">
    <div class="image-gallery-wrapper multiple">
      {{ content.field_images }}
    </div>
  </div>
{% endif %}
