{% extends 'node--detail--layout.html.twig' %}

{% block article_content %}
  {{ title_prefix }}
    <h1{{ title_attributes }}>
      {{ label }}
    </h1>
  {{ title_suffix }}

  {{ content|without('field_related', 'field_related_by_tags', 'field_tags', 'field_documents') }}
{% endblock %}

{% block article_aside %}
  {% if content.field_documents|render|striptags|trim is not empty %}
    <div class="document-box accordion">
      <h2>{{ 'Documents'|t }}</h2>
      {{ content.field_documents }}
    </div>
  {% endif %}

  <div class="related-box">
    <div class="related-box-content">
      <h2>{{ 'Also interesting'|t }}</h2>

      {% if content.field_related|render|striptags|trim is not empty %}
        <div class="related-box-content-column">
          <h3>{{ 'Similar articles'|t }}</h3>
          {{ content.field_related }}
        </div>
      {% endif %}

      <div class="related-box-content-column">
        {% if content.field_tags|render|striptags|trim is not empty %}
          <h3>{{ 'More info about'|t }}</h3>
          {{ content.field_tags }}
        {% endif %}

        <h3>{{ 'Related Linked Open Data'|t }}</h3>
        <p>{{ 'Stub' }}</p>
      </div>
    </div>
  </div>
{% endblock %}
