{% extends 'node--detail--layout.html.twig' %}

{% block article_content %}
  {{ title_prefix }}
    <h1{{ title_attributes }}>
      {{ label }}
    </h1>
  {{ title_suffix }}

  {{ content|without('field_related', 'field_related_by_tags', 'field_tags', 'field_related_news_events', 'field_documents', 'field_opendata_link') }}
{% endblock %}

{% block article_aside %}
  {{ parent() }}

  <p class="info-page--edit-date">{{ dateChanged }}</p>
{% endblock %}
