{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
  'has-custom-binding',
  'filter-section',
  'sidebar',
  'modal',
  'modal--fixed-height',
]
%}
{% if content %}
  <section id="filter" {{ attributes.addClass(classes) }} tabindex="-1" aria-hidden="false">
    <div class="modal-inner">
      <div class="modal-header">
        <button type="button" class="button close icon-cross modal-close" data-target="filter">
          {{ 'Close'|t }}
        </button>
      </div>

      <div class="modal-content" tabindex="0">
        <h2>{{ 'Filter the results'|t }}</h2>
        {{ content }}
      </div>
      <div class="modal-actions">
        <button type="button" class="button button-primary modal-close filter-show-results-button" data-target="filter">{{ 'Show results'|t }}</button>
      </div>
    </div>
    <div class="modal-overlay modal-close" data-target="filter" tabindex="-1"></div>
  </section>
{% endif %}
