{% extends 'paragraph.html.twig' %}

{% block content %}
  <li>
    <!-- Modal -->
    <section id="{{ paragraph.id() }}" class="modal programme-detail" tabindex="-1">
      <div class="modal-inner">
        <div class="modal-header">
          <button type="button" class="button close icon-cross modal-close" data-target="{{ paragraph.id() }}">
            <span>{{ 'Close'|t }}</span>
          </button>
        </div>
        <div class="modal-content">
          <h3>{{ content.title }}</h3>

          {% if content.subtitle %}
            <h4>{{ content.subtitle }}</h4>
          {% endif %}

          <div class="image-gallery--wrapper multiple image-gallery--secondary">
            {{ content.field_image }}
          </div>

          {{ content.field_text }}

          {% if content.field_video|render is not empty %}
            {{ content.field_video }}
          {% endif %}

        </div>
      </div>
      <div class="modal-overlay modal-close" data-target="{{ paragraph.id() }}"></div>
    </section>
    <!-- /Modal -->

    <!-- Teaser -->
    <div class="teaser teaser-programme">
      <article class="teaser-content">
        <div class="content__bottom">
          <h3 id="uid_{{ paragraph.id() }}">{{ content.title }}</h3>

          <p>{{ content.subtitle }}</p>

          <a href="javascript:void(0);" class="read-more standalone-link" aria-labelledby="uid_{{ paragraph.id() }}">{{ 'More info'|t }}</a>
        </div>

        <div class="content__top">
          <figure>
            <div class="image-wrapper" data-ratio="8:5">
              {{ fake_teaser_image }}
            </div>
          </figure>
          <div class="accolade-inverse bottom-left"></div>
        </div>
      </article>

      <a href="javascript:void(0);" class="teaser-overlay-link"
         tabindex="-1"
         aria-hidden="true"
         aria-expanded="false"
         aria-controls="{{ paragraph.id() }}">{{ content.title }}</a>
    </div>
    <!-- /Teaser -->
  </li>
{% endblock %}
