{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  'sidebar-layout',
  'filter',
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

{{ attach_library('gent_base/filter') }}
{{ attach_library('gent_base/modal') }}
{{ attach_library('gent_base/facets') }}

<div{{ attributes.addClass(classes) }}>
  {% block filters %}
    {% if exposed %}
      <section id="filter" class="filter-section sidebar modal" tabindex="-1" aria-hidden="false">
        <div class="modal-inner">
          <div class="modal-header">
            <button type="button" class="button close icon-cross modal-close" data-target="filter">
              {{ 'Close'|t }}
            </button>
          </div>
          <div class="modal-content">
            <h2>{{ 'Filter the results'|t }}</h2>
            <p class="help-text">{{ 'When selecting or deselecting filters, the page is automatically reloaded.'|t }}</p>
            {{ exposed }}
          </div>
        </div>
      </section>
    {% endif %}
  {% endblock %}

  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}


  <div class="content result-section">
    {% block title %}
      <h1 class="overview-title">
        <span class="overview-title-colon">
          {% block view_title %}
            {{ 'View title'|t }}
          {% endblock %}
          <span class="colon" aria-hidden="true"></span>
        </span>
      </h1>
    {% endblock %}

    {% block header %}
      <div class="filter__result-count">
        {% if header %}
            {{ title_prefix }}
            {% if title %}
              {{ title }}
            {% endif %}
            {{ title_suffix }}
            {{ header }}
        {% endif %}

        <button type="button" class="button button-secondary icon-filter result__show-filters modal-trigger" aria-expanded="false" aria-controls="filter">
          {{ 'Filters'|t }}
        </button>
      </div>
    {% endblock %}

    {% block filter %}
      <div class="filter-results">
        {% if rows %}
          {{ rows }}
        {% elseif empty %}
          <div class="view-empty">
            {{ empty }}
          </div>
        {% endif %}
      </div>

      {% if more %}
        {{ more }}
      {% endif %}
    </div>
  {% endblock %}

  {% block pager %}
    {% if pager %}
      {{ pager }}
    {% endif %}
    {% if attachment_after %}
      <div class="attachment attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}
  {% endblock %}

  {% block footer %}
    {% if footer %}
      <div class="view-footer">
        {{ footer }}
      </div>
    {% endif %}
  {% endblock %}
  {% if feed_icons %}
    <div class="feeds">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
