{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - gallery_full_url: URL of the gallery_full image style.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<a{{ attributes }}
  href="{{ gallery_full_url|default(file_url(content.field_media_image.0['#item'].entity.uri.value)) }}"
  class="gallery-link"
  aria-describedby="image-gallery__open-gallery"
  {% if not media.field_media_caption.isEmpty() %}
  aria-label="{{ media.field_media_caption.value }}"
  {% endif %}
  >
  {{ title_suffix.contextual_links }}
  <figure>
    {{ content.field_media_image }}
    {{ content.field_media_caption }}
  </figure>
</a>
