{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content.field_media_caption|render|trim is not empty %}
  <a{{ attributes.addClass('gallery-link') }} href="{{ file_url(content.field_media_image.0['#item'].entity.uri.value) }}" aria-label="image caption" aria-describedby="image-gallery__open-gallery">
{% else %}
  <a{{ attributes.addClass('gallery-link') }} href="{{ file_url(content.field_media_image.0['#item'].entity.uri.value) }}" aria-describedby="image-gallery__open-gallery">
{% endif %}
{{ title_suffix.contextual_links }}
  <figure>
    {{ content.field_media_image }}
    {% if content.field_media_caption|render|trim is not empty %}
      <figcaption>{{ content.field_media_caption }}</figcaption>
    {% endif %}
  </figure>
</a>
