{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{%
  set classes = [
  'search-block',
  'box-left'
  ]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="search-block-content">
      <h2>{{ 'From here you can...'|t }}</h2>

      <ul class="icon-list">
        <li><i class="icon-home" aria-hidden="true"></i><span>{{ 'Return to the'|t }} <a href="{{ url('<front>') }}" alt="Homepage">{{ 'homepage'|t }}</a></span></li>
          <li><i class="icon-fancyback" aria-hidden="true"></i><span>{{ 'Use the back button of your browser'|t }}</span></li>
          <li><i class="icon-document" aria-hidden="true"></i><span>{{ 'Or notify us of the page through the'|t }} <a href="javascript:(void);" alt="Contact form">{{ 'contact form'|t }}</a></span></li>
      </ul>

      <h3>{{ 'Are you looking for another page?'|t }}</h3>

      {% block content %}
        {{ content }}
      {% endblock %}

      {# -- Stub search form -- #}
      <form class="form search">
        <input type="search" name="search_field_403" id="search_field_403" placeholder="" aria-label="search" required="">
        <input type="submit" value="Search!" class="">
      </form>
      {# -- End stub -- #}
    </div>
</div>
